@import '../helper';
.sand-ui-dialog {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: fade-out($color: $colors-black, $amount: 0.48);
    z-index: 1300;
  }
  &__content-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1400;
    justify-content: center;
    align-items: flex-start;
    color: $colors-font;
  }
  &__content {
    position: relative;
    margin-top: 100px;
    width: 100%;
    max-width: 400px;
    background: $colors-white;
    border-radius: $radius-md;
  }
  &__header {
    padding: 16px 24px;
  }
  &__body {
    padding: 8px 24px;
  }
  &__footer {
    padding: 16px 24px;
    display: flex;
    justify-content: flex-end;
    button {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: $close-btn-size;
    padding: 4px;
    border-radius: $radius-md;
    &:hover {
      background: lighten($colors-gray-light, 20%);
    }
  }
}
