@import '../helper';
$colors-btn-default: $colors-gray;
$colors-btn-primary: $colors-blue;
$colors-btn-success: $colors-green;
$colors-btn-error: $colors-red;
$colors-btn-warning: $colors-orange;
@mixin colorSchema($color) {
  color: $color;
  background: $color;
  &:hover {
    background: lighten($color: $color, $amount: 35%);
  }
  &.sand-btn-fill:hover {
    background: darken($color: $color, $amount: 10%);
  }
}
.sand-btn {
  padding: 0 16px;
  height: 40px;
  min-width: 40px;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.2;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 16px;
  transition: all 0.4s;
  &-schema--default {
    @include colorSchema($color: $colors-btn-default);
  }
  &-schema--primary {
    @include colorSchema($color: $colors-btn-primary);
  }
  &-schema--success {
    @include colorSchema($color: $colors-btn-success);
  }
  &-schema--error {
    @include colorSchema($color: $colors-btn-error);
  }
  &-schema--warning {
    @include colorSchema($color: $colors-btn-warning);
  }
  &-outline {
    background: $colors-transparent;
    border: 1px solid currentColor;
  }
  &-fill {
    border: 1px solid currentColor;
    color: $colors-white;
  }
  &-ghost {
    background: $colors-transparent;
  }
  &-link {
    padding: 0px;
    height: auto;
    line-height: normal;
    background: $colors-transparent;
    &:hover {
      text-decoration: underline;
      background: $colors-transparent;
    }
  }
}
