@import '../helper';
$colors-btn-default: $colors-gray;
$colors-btn-primary: $colors-blue;
$colors-btn-success: $colors-green;
$colors-btn-error: $colors-red;
$colors-btn-warning: $colors-orange;
@mixin colorSchema($color) {
  color: $color;
  background: $color;
  &:hover {
    background: lighten($color: $color, $amount: 35%);
  }
  &.sand-btn-fill:hover {
    background: darken($color: $color, $amount: 10%);
  }
}
@mixin btn-xs {
  padding: 0 8px;
  height: 24px;
  min-width: 24px;
  border-radius: $radius-md;
  font-size: $font-size-xs;
}
@mixin btn-sm {
  padding: 0 12px;
  height: 32px;
  min-width: 32px;
  border-radius: $radius-md;
  font-size: $font-size-sm;
}
@mixin btn-md {
  padding: 0 16px;
  height: 40px;
  min-width: 40px;
  border-radius: $radius-md;
  font-size: $font-size-md;
}
@mixin btn-lg {
  padding: 0 24px;
  height: 48px;
  min-width: 48px;
  border-radius: $radius-md;
  font-size: $font-size-lg;
}
@mixin btn-icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
}
.sand-btn {
  @include btn-md;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s;
  &-schema--default {
    @include colorSchema($color: $colors-btn-default);
  }
  &-schema--primary {
    @include colorSchema($color: $colors-btn-primary);
  }
  &-schema--success {
    @include colorSchema($color: $colors-btn-success);
  }
  &-schema--error {
    @include colorSchema($color: $colors-btn-error);
  }
  &-schema--warning {
    @include colorSchema($color: $colors-btn-warning);
  }
  &-outline {
    background: $colors-transparent;
    border: 1px solid currentColor;
  }
  &-fill {
    color: $colors-white;
  }
  &-ghost {
    background: $colors-transparent;
  }
  &-link {
    padding: 0px;
    height: auto;
    line-height: normal;
    background: $colors-transparent;
    &:hover {
      text-decoration: underline;
      background: $colors-transparent;
    }
  }
  &-xs {
    @include btn-xs;
  }
  &-sm {
    @include btn-sm;
  }
  &-md {
    @include btn-md;
  }
  &-lg {
    @include btn-lg;
  }
  &-icon {
    &--left {
      @include btn-icon;
      margin-right: 0.5em;
    }
    &--right {
      @include btn-icon;
      margin-left: 0.5em;
    }
  }
  &-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
    [class*='icon'] {
      display: none;
    }
  }
  &-loading__wrapper {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
    font-size: 1em;
  }
  &-loading {
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-top-color: $colors-transparent;
    border-radius: 50%;
    animation: circle infinite 0.6s linear;
  }
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
