$colors-blue-light: #70bdfb;
$colors-blue: #2196f3;
$colors-blue-dark: #067ad5;
$colors-gray-light: #b3b3b8;
$colors-gray: #8e8e93;
$colors-gray-dark: #79797f;
$colors-red-light: #ff6259;
$colors-red: #ff3b30;
$colors-red-dark: #ff1407;
$colors-green-light: #6ee081;
$colors-green: #4cd964;
$colors-green-dark: #2cd048;
$colors-orange-light: #ffa629;
$colors-orange: #ff9500;
$colors-orange-dark: #d67d00;
$colors-black-light: #161616;
$colors-black: #000000;
$colors-white: #ffffff;
$colors-transparent: transparent;

$colors-font: #2d3748;

// size
$close-btn-size: 24px;
